.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: fit-content;
    padding: 20px;
    background-color: #0B0C10;
    color: #C5C6C7;
    transition: smooth;
    border-radius: 16px;
    margin:12px;
    border: 1px solid #1F2833;
  }
  
  .chatbox {
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #1F2833;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .chatbox::-webkit-scrollbar {
    display: none; 
}
  .chatbox h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #66FCF1;
  }
  
  .chatbox p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  
  .inputForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color:#1F2833;
  }
  
  .inputForm input {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C5C6C7;
    outline: none;
    color:#1F2833;
  }
  
  .inputForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .inputForm button:hover {
    background-color: #1F2833;
  }
  