@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  overflow-x: hidden;
  background-color: #1F2833; /* dark background */
  color: #C5C6C7; /* light text */
  font-family: 'Roboto', sans-serif;
  /* padding: 20px; */
  padding-top: 0; /* remove padding at the top */
  min-height: 80vh;
  min-width: 70vw;
}

.container3 {
    min-height: 20px;
    min-width: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.alignLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.heading1{
  font-size: 1.3rem;
  font-family: 'Roboto'; 
  color: #ffffff; /* bright blue */
  margin: 0; /* remove margin to shift to the top */
  letter-spacing: 1px; 
}

.heading {
  font-size: 20px;
  font-family: 'Roboto'; 
  color: #66FCF1; /* bright blue */
  margin: 0; /* remove margin to shift to the top */
  letter-spacing: 1px; 
}

.flexbox {
    display: flex;
    align-items: center;
    color: #C5C6C7; /* Internal text color */
    padding-left: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.flexbox:hover {
    color: #45A29E; 
}

/* Style the checkbox */
.flexbox input[type="checkbox"] {
    /* Hide default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Create custom checkbox */
    width: 18px;
    height: 18px;
    border: 2px solid #C5C6C7; /* Border color */
    border-radius: 3px; /* Rounded corners */

    position: relative;
}

/* Style the checkbox when checked */
.flexbox input[type="checkbox"]:checked::before {
    content: '\2713'; /* Unicode checkmark symbol */
    font-size: 20px; /* Size of the checkmark */
    font-weight: 900; /* Bold checkmark */
    color: #0B0C10; /* Checked color */
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    top: 50%; 
    left: 50%; 
    /* display: block; */
    line-height: 1;
    text-align: center;
    transform: translate(-50%, -50%); 
    background-color: #C5C6C7; /* Change background color when checked */
}

.text {
    padding-left: 6px;
    cursor: pointer;
}

.text1 {
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 200px;
    /* padding-bottom: 50px; */
    color: #45A29E;
    /* bright blue */
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
    /* Center align the heading */
}

.alignRight {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.buttonModal {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-right: 20px; */
}

.buttonModal:hover {
    background-color: #1F2833;
}
