/* myIdentities.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  overflow-x: hidden;
  background-color: #0B0C10; /* dark background */
  color: #C5C6C7; /* light text */
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  padding-top: 0; /* remove padding at the top */
  min-height: 100vh;
  min-width: 100vw;
}

.heading {
  font-size: 6rem;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  /* font-family: 'Roboto', sans-serif; This should be your custom font matching 'HELLO' */
  color: #66FCF1; /* bright blue */
  margin: 0; /* remove margin to shift to the top */
  padding-top: 70px; /* Padding at the top to avoid touching the edge */
  text-transform: uppercase; /* if the 'HELLO' is in uppercase */
  letter-spacing: 5px; /* Adjust letter spacing to match the 'HELLO' style */
  text-align: center; /* Center align the heading */
}

.tileWrapper {
  width: 70%; /* half of the page size */
  margin: auto;
}

.categoryHeader {
  color: #C5C6C7; /* Internal text color */
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.categoryHeader:hover {
  color: #45A29E; /* bright blue on hover */
}

.identitiesList {
  background-color: #1F2833; /* dark element background */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* aligns text left and buttons right */
  align-items: center;
  transition: background-color 0.3s ease;
}

.identitiesList:hover {
  text-decoration-color: #0B0C10;
  background-color: #45A29E; /* lighter element background on hover */
}

.aligntext {
  margin-left: 20px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: left; /* align text to the left */
}

.buttonGroup {
  display: flex;
  justify-content: flex-end; /* align buttons to the right */
}

.buttonAdd {
  display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.buttonAdd:hover {
  background-color: #1F2833;
  transform: scale(1.1);
}

.buttonAdd:disabled {
  background-color: #C5C6C7; /* light grey when disabled */
  color: #0B0C10; /* dark text when disabled */
  cursor: not-allowed;
}

