/* myIdentities.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  overflow-x: hidden;
  background-color: #0B0C10;
  color: #C5C6C7;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  padding-top: 0;
  min-height: 100%;
  min-width: 100%;
}

.heading {
  font-size: 6rem;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  color: #66FCF1;
  margin: 0;
  padding-top: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.tileWrapper {
  width: 70%;
  margin: auto;
}

.categoryHeader {
  color: #C5C6C7;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.categoryHeader:hover {
  color: #45A29E;
}

.identitiesList {
  background-color: #1F2833;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.identitiesList:hover {
  text-decoration-color: #0B0C10;
  background-color: #45A29E;
}

.aligntext {
  margin-left: 20px;
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.clickabletext {
  margin-left: 20px;
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.clickabletext:hover {
  margin-left: 20px;
  font-size: 1.0rem;
  color: #0B0C10;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.buttonAdd {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #45A29E;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.buttonAdd:hover {
  background-color: #1F2833;
  transform: scale(1.1);
}

.buttonAdd:disabled {
  background-color: #C5C6C7;
  color: #0B0C10;
  cursor: not-allowed;
}