/* verifyData.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    overflow-x: hidden;
    background-color: #0B0C10;
    color: #C5C6C7;
    font-family: 'Roboto', sans-serif;
    padding: 60px;
    padding-top: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container3 {
    min-height: 20px;
    min-width: 50px;
}

.alignlabel {
    display: flex;
    align-items: center;
}

.buttonWrapper {
    flex-direction: column;
    display: flex;
}

.heading {
    font-size: 3rem;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    color: #66FCF1;
    margin: 0;
    padding-top: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.heading2 {
    font-size: 2rem;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    color: #C5C6C7;
    margin: 0;
    padding-top: 70px;
    letter-spacing: 5px;
    text-align: left;
}

.text1 {
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 200px;
    color: #45A29E;
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
}

.text2 {
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #C5C6C7;
    margin: 0;
    letter-spacing: 1px;
    text-align: left;
}

.text3 {
    font-size: 1.8rem;
    margin-top: 200px;
    margin-bottom: 200px;
    color: #C5C6C7;
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
}

.textCID {
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #45A29E;
    margin: 0;
    letter-spacing: 1px;
    text-align: left;
}

.textCID:hover {
    font-size: 1rem;
    margin-top: 200px;
    margin-bottom: 100px;
    color: #66FCF1;
    margin: 0;
    letter-spacing: 1px;
    text-align: left;
    cursor: pointer;
}

.label {
    color: #C5C6C7;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 1.5em;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.input {
    width: 500px;
    height: 50px;
    background-color: #1F2833;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.aligntext {
    display: flex;
    align-items: row;
}

.tileWrapper {
    width: 90%;
    background-color: #1F2833;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: left;
    transition: background-color 0.3s ease;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
}

.alignTopDown {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.alignRight {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.alignLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.aligntext {
    margin-left: 20px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1F2833;
}

.buttonModal {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45A29E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonModal:hover {
    background-color: #1F2833;
}

.buttonModal:disabled {
    background-color: #C5C6C7; 
    color: #0B0C10; 
    cursor: not-allowed;
  }

.modalcontent::-webkit-scrollbar {
    display: none;
}

.filter {
    margin-bottom: 30px;
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #1F2833;
    border-radius: 5px;
    background-color: #1F2833;
    color: #C5C6C7;
    cursor: pointer;
}

.filter option {
    background-color: #1F2833; 
    color: #C5C6C7; 
  }